<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <al-info-box icon-bg-class="'bg-aqua'" icon-class="'ion ion-ios-gear-outline'" metric-text="'Sujeet Pillai'" number="'32'"></al-info-box>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <al-info-box bg-class="'bg-aqua'" progress="70" sub-text="'30% growth'" icon-class="'ion ion-ios-gear-outline'" metric-text="'Sujeet Pillai'" small-suffix="'%'" number="'32'"></al-info-box>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <al-small-box bg-class="'bg-aqua'" link-text="'Start now'" footer-link="'http://www.google.com'" icon-class="'ion ion-ios-gear-outline'" super-suffix="'%'" metric-text="'Sujeet Pillai'" number="'32'"></al-small-box>
    </div>
</div>